body {
    height:1500px;
    padding-top:60px;
    padding-left:230px;
}
.top-bar{
    background-color: white;
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items:center;
    top:0;
    left:0;
    right:0;
    height:60px;
    border-bottom: 1px solid rgb(190, 187, 187);
    z-index: 10;
   
}
.left{
    display:flex;
    align-items:center;
    margin-left:25px;
    width:200px;
}
.hamb-icon{
    height:24px;
    cursor:pointer;

}
.youtube-icon{
    height:20px;
    margin-left:25px;
    cursor:pointer;
}
.center{
    flex:1;
    display:flex;
    margin-left:140px;
    margin-right:170px;
}
.search-bar{
    height:36px;
    flex:1;
    border-color:rgb(201, 196, 196);
    border-width:1px;
    border-style:solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px;


}
.search-bar::placeholder{
    color:gray;
    font-size:18px;
    padding-left:10px;

}
.search-btn{
    width:65px;
    margin-right:10px;
    border-color:rgb(201, 196, 196);
    border-width:1px;
    border-style:solid;margin-left:-1px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}
.search-icon{
    height:25px;
    padding-top:3px;
}
.voice-search-icon{
    height:25px;
    padding-top:3px;
}
.search-voice-btn{
    width:40px;
    height:40px;
    border-radius:20px;
    border:none;
}
.right{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-right:25px;
    width:135px;
}
.profile-icon{
    width:34;
    height:34px;
    border-radius:17px;
}
.upload-icon{
    height:25px;
}
.notif-icon{
    height:25px;
}

.main-page{
    background-color:rgba(233, 224, 224,0.4);
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;

}
.video-show{
    width:240px;
    margin-right:10px;
    display:inline-block;

}
.pic{
    opacity:0.8;
    width:100%;
    cursor:pointer;
    margin-bottom: 10px;
    display: block;

}
.pic:hover{
    opacity:1;
}
.video-pic{
position: relative;
}
.duration{
    position: absolute;
    color:white;
    background-color:black;
    font-family: roboto;
    font-size: 10px;
    bottom:-8px;
    right:2px;
    z-index: 1;
}
.info{
    display:flex;
    vertical-align: top;
    margin-bottom: 20px;
}
.author-pic{
    width:36px;
    height:36px;
    margin-right:10px;
    border-radius:18px;
}
.title{
    margin:0;
    font-family:roboto,arial;
    font-size:16px;
    margin-bottom: 20px;
    
}
.author,.stats{
    color:rgb(96,96,96);
    font-family:arial;
    font-size:12px;
    margin-bottom: 5px;
    margin-top:0;
}
.side{

    position:fixed;
    background-color: white;
    z-index: 20;
    left:0;
    top:59px;
    width:230px;
    bottom:0;

}
.side-bar{
vertical-align: top;
display: flex;
align-items:center;
}
.side-bar img{
height:25px;
margin-left:20px;
margin-right:20px;
}
.side-bar p{
font-family:roboto,arial;
font-size:14px;

}